/* Reset chung */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: #f9f9f9;
    color: #333;
}

/* Layout chính chia 2 cột */
.auth {
    display: flex;
    min-height: 100vh;
}

/* Cột trái */
.auth__intro {
    flex: 1;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth__intro-img {
    max-width: 80%;
    height: auto;
}

/* Cột phải */
.auth__content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.auth__content-inner {
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* Logo */
.logo {
    display: inline-flex;
    align-items: center;   
    gap: 8px;
    text-decoration: none;
}

.logo__img {
    width: 42px;          
    height: 42px;
    object-fit: contain;
    display: block;
}

.logo__title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;        /* giảm khoảng trắng trên/dưới chữ */
    color: #222;
    display: flex;
    align-items: center;
}

/* Heading */
.auth__heading {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 10px;
}

.auth__desc {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 20px;
}

/* Form */
.form__group {
    margin-bottom: 20px;
    text-align: left;
}

.form__input {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #cceef3;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s ease;
}

.form__input:focus {
    border-color: #00bfa6;
    box-shadow: 0 0 0 2px rgba(0, 191, 166, 0.2);
}
.form__error{
    display:none;
}
.form__error.active{
    display:block
}
.form__input-icon{
    width: 18px;
    height: 18px;
    opacity: 0.6;
}
.auth__btn {
    width: 100%;
    padding: 12px;
    background: #f8c018 !important;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    transition: background 0.3s ease;
}

.auth__btn:hover {
    background: #ffd54f;
}

/* Link quay lại */
.auth__text {
    margin-top: 20px;
}

.auth__text-link {
    color: #1976d2;
    text-decoration: none;
    font-weight: 500;
}

.auth__text-link:hover {
    text-decoration: underline;
}
.alert-success{
    background-color: #09d657;
}
