/* Cột trái */
.left-panel {
  background: linear-gradient(to bottom, #6dd5ed, #2193b0);
  color: black;
  font-weight: bold;
}
.left-panel h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  
}
.left-panel p{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.logo {
  width: 520px;
}

/* Cột phải */
.right-panel {
  background: #fff;
}

.piggy-logo {
  width: 250px;
}

/* Input */
.form-group {
    position: relative;
    margin-bottom: 20px;
}
.input-custom{
  font-size:16px;
  padding: 10px 10px;
  /* display: block; */
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #282A36;
  background: transparent;
}
.form-group label{
    position: absolute;
    left:10px;
    top: 12px;
    color: #888;
    transition: 0.3s ease all;
    pointer-events: none;
}
.form-group{
  position: relative;
  margin-bottom: 30px;
}
/* Nút login */
.login-btn {
  border-radius: 25px;
  background-color: #c9daf8;
  font-size: 16px;
}

.login-btn:hover {
  background-color: #a6c1ee;
}
.input-custom:focus~label,
.input-custom:not(:placeholder-shown) ~ label {
    top: -20px;
    font-size:14px;
    color:#282A36;

}

