<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/about">About</a>
        <a href="/signup">Đăng ký</a>
        <a href="/login">Đăng nhập</a>
    </div>
    <h1>This is the place where I learn NodeJS + Express</h1>
</body>

</html>