<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>
        <span class="blue">GO</span><span class="red">AT</span>
    </h1>

    <img src="/img/img.jpg" alt="">
    <br>
    <h2>7 đĩ</h2>
    <img src="/img/images.jpg" alt="">
</body>

</html>